<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the rurl /chat/123456 is visited in a browser.
	It includes jQuery, socket.io.js (it is automatically served by the socket.io library), 
	and a few more JavaScript files that you should check out.
-->

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Secure Chat</title>
	<link rel="icon" href="img/favicon.ico">

	<!-- Bootstrap CSS CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../css/sidebar.css">
	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
</head>

<body>
	<div class="wrapper">
		<!-- Sidebar Holder -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h2 class="bannertext">Secure
					<span>&nbsp;Chat</span>
				</h2>
			</div>

			<ul class="list-unstyled components">
				<img id="myAvatar" class="center" src="img/unnamed.png" width="80">
				<p id="myUsername">Login</p>
				<li class="active">
					<a href="#usersmenu" data-toggle="collapse" aria-expanded="true">Users</a>
					<ul class="collapse list-unstyled" id="usersmenu">
					</ul>
				</li>
				<li>
					<a href="#roomsmenu" data-toggle="collapse" aria-expanded="true">Rooms</a>
					<ul class="collapse list-unstyled" id="roomsmenu">
					</ul>
				</li>
			</ul>

			<ul class="list-unstyled CTAs">
				<li>
					<a href="#" class="create-room">Create Room</a>
				</li>
			</ul>
		</nav>

		<!-- Page Content Holder -->
		<div id="content">

			<nav class="navbar navbar-default banner">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
							<i class="glyphicon glyphicon-align-left"></i>
							<span>Menu</span>
						</button>
						<div class="navbar-brand">
							<div id="connected" class="connection-img" style="display: none;" title="connected to server strongly"></div>
							<div id="disconnected" class="connection-img" style="display: none;" title="server not found"></div>
							<div id="connecting" class="connection-img" title="trying to connect server..."></div>
						</div>
					</div>

					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="/">Home</a>
							</li>
							<li class="nav-item d-none d-md-block">
								<a class="nav-link nav-link-expand" href="#">
									<i class="ficon ft-maximize"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="row">

				<!-- These elements are displayed as white info cards in the middle of the screen -->
				<div class="col-xs-12 col-sm-12">

					<section id="screen">
						<h2 style='text-align: center;'>Welcome to Secure Chat</h2>
					</section>
				</div>
			</div>

			<footer class="fixed-bottom">
				<form id="chatform">
					<textarea id="message" placeholder="Write a message..."></textarea>
				</form>
			</footer>
		</div>
	</div>


	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap Js CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Momentjs Js CDN -->
	<script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
	<!-- Socket.io Js CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
	<!-- Forge Js CDN -->
	<script src="https://cdn.jsdelivr.net/npm/node-forge@0.7.0/dist/forge.min.js"></script>
	<!-- Client Core Js -->
	<script src="../js/client.js"></script>
</body>

</html>