<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>
	<title>Secure Chat</title>
	<link rel="icon" href="img/favicon.ico">
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
</head>

<body>

	<header class="banner">
		<h1 class="bannertext">Secure<span>&nbsp;Chat</span></h1>
	</header>

	<section>

		<div class="homesection">
			<div class="node">
				<img src="img/nodejslogo.png" alt="nodelogo" id="nodelogo" />
				<h2 id="chat">powered by <a href="mailto:e.estedlali@gmail.com">Elham Estedlali</a></h2>
			</div>

			<a title="Create" href="/chat" id="create">
				<div id="createbutton">
					<div id="little">Login</div>
					<div id="big">Secure Chat</div>
				</div>
			</a>
		</div>
	</section>
</body>

</html>